.list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 5px;
}
.app-name-container {
  display: flex;
  align-items: center;

  margin-left: 40px;
}
.logo-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.title {
  color: #475569;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
}
.domain-url {
  color: #64748b;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Roboto';
}
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
